@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-5">My Readings</h1>
    <div class="pt-5">
        <img class="w-25" src="/img/leitura.png" />
    </div>
</div>
