@model MyReadingsModel
@{
    ViewData["title"] = "Delete Reading";
}

<div class="container bg-dark p-5 rounded-5">

    <div class="mb-5 text-center">
        <h1 class="text-light">Delete Reading</h1>
    </div>

    <form class="row" method="post" asp-controller="MyReadings" asp-action="Delete">

        @* pega o Id *@
        <input type="hidden" asp-for="Id" />

        <h2 class="text-light mb-3">Tem certeza que deseja excluir?</h2>

        <div class="mb-3 col-md-5">
            <label for="Title" class="form-label text-light">Book title</label>
            <input type="text" asp-for="Title" class="form-control bg-white text-dark" id="Title" placeholder="Write the name of the book" disabled>
            <span class="text-danger" asp-validation-for="Title"></span>
        </div>
        <div class="mb-3 col-md-5">
            <label for="Writer" class="form-label text-light">Writer</label>
            <input type="text" asp-for="Writer" class="form-control bg-white text-dark" id="Writer" placeholder="Write the writer of the book" disabled>
            <span class="text-danger" asp-validation-for="Writer"></span>
        </div>
        <div class="mb-3 col-md-2">
            <label for="Pages" class="form-label text-light">Pages</label>
            <input type="number" asp-for="Pages" class="form-control bg-white text-dark" id="Pages" placeholder="Pages" disabled>
            <span class="text-danger" asp-validation-for="Pages"></span>
        </div>
        <div class="mb-3 col-md-6">
            <label for="Start" class="form-label text-light">Start</label>
            <input type="datetime" asp-for="Start" class="form-control bg-white text-dark" id="Start" placeholder="Write the day started to read the book" disabled>
            <span class="text-danger" asp-validation-for="Start"></span>
        </div>
        <div class="mb-3 col-md-6">
            <label for="End" class="form-label text-light">End</label>
            <input type="datetime" asp-for="End" class="form-control bg-white text-dark" id="End" placeholder="Write the day ended to read the book" disabled>
            <span class="text-danger" asp-validation-for="End"></span>
        </div>
        <div class="mb-3">
            <label for="Obs" class="form-label text-light">Obs</label>
            <textarea rows="10" type="text" asp-for="Obs" class="form-control bg-white text-dark" id="Obs" placeholder="Write the Obs" disabled></textarea>
            <span class="text-danger" asp-validation-for="Obs"></span>
        </div>

        <div class="d-flex gap-5 mt-5">

            <button type="submit" class="btn btn-danger w-50">Delete</button>
            <a class="btn btn-primary w-50" asp-controller="MyReadings" asp-action="Index">Back</a>
        </div>

    </form>
</div>