@model MyReadingsModel
@{
    ViewData["title"] = "Reading";
}

<div class="container">

    @* pega o Id *@
    <input type="hidden" asp-for="Id" />

    <div>
        <a asp-controller="MyReadings" asp-action="Index" class="btn btn-secondary">Back</a>
    </div>

    <div class="mb-5 d-flex flex-column align-items-center">
        <input class="border-0 h1 bg-white text-dark" asp-for="Title" disabled />
        <input class="border-0 fs-5 bg-white text-dark" type="text" asp-for="Writer" disabled />
    </div>
    <div class="d-flex flex-column">
        @* <input type="text" asp-for="Title" /> *@
        <div class="d-flex">
            <label class="h5 semmargin">Páginas:</label>
            <input class="border-0 fs-5 bg-white text-dark" type="text" asp-for="Pages" disabled />
        </div>
        <div class="d-flex">
            <label class="h5 semmargin">Data de Inicio da leitura:</label>
            <input class="border-0 fs-5 bg-white text-dark" type="datetime" asp-for="Start" disabled />
        </div>
        <div class="d-flex">
            <label class="h5 semmargin">Data de Finalizãção da leitura:</label>
            <input class="border-0 fs-5 bg-white text-dark" type="datetime" asp-for="End" disabled />
        </div>
        <br />
        <div>
            <label class="h5 semmargin">Observações:</label>
            <textarea style="width:80vw;" rows="100" class="border-0 fs-5 bg-white text-dark" type="text" asp-for="Obs" disabled></textarea>
        </div>
    </div>

</div>